<footer class="fixed bottom-0 left-0 z-20 p-4 w-full bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 bg-gradient-to-b from-purple-200 via-purple-400 to-purple-800">
    <span class="text-sm text-purple-900 sm:text-center">© 2022 <span >Programacion Backend™</span>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-purple-900 font-bold sm:mt-0">
        <li>
            <a href="https://www.djangoproject.com/" class="mr-4 hover:underline md:mr-6">Django</a>
        </li>
        <li>
            <a href="https://tailwindcss.com/" class="mr-4 hover:underline md:mr-6">Tailwind</a>
        </li>
        <li>
            <a href="{% url 'about' %}" class="mr-4 hover:underline md:mr-6 ">Quienes Somos</a>
        </li>
        <li>
            <a href="https://mail.google.com/" class="hover:underline">Contacto</a>
        </li>
    </ul>
    
    
</footer>


