{%extends "base.html"%}

{% block title %} Listado Usuarios {% endblock %}

{% block content %}
{% include 'componentes/sidenavA.html' %} 

<!-- --------CONTENIDO DE LISTADO DE LISTADO--------- -->
            
<main class="ml-64 md:w-3/5  xl:w-4/5 px-5 py-10">
          
    <h2 class="text-3xl font-bold text-center text-purple-200">Listado de Usuarios</h2>

    <div class="flex flex-col mt-10">
        <div class="py-2 overflow-x-auto">
          <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
            <table class="min-w-full">
                <thead class="bg-gradient-to-b from-slate-900 via-purple-900 to-slate-900">
                    <tr>
                        <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4 font-bold text-purple-200 uppercase tracking-wider">
                            ID
                        </th>
                        <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4 font-bold text-purple-200 uppercase tracking-wider">
                                Usuario
                        </th>
                        <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4  font-bold text-purple-200 uppercase tracking-wider">
                                Nombres
                        </th>
                        <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4  font-bold text-purple-200 uppercase tracking-wider">
                                Apellidos
                        </th>
                        <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4  font-bold text-purple-200 uppercase tracking-wider">
                           Staff
                    </th>
                        <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4  text-purple-200 font-bold uppercase tracking-wider">
                                Acciones
                        </th>
                    </tr>
                    
                </thead>
                <!-- for para entragar los datos en el listado de pasajeros -->
                {% for p  in users %}
                <!-- ["first_name", "last_name", "username", "password1", "password2"] -->
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                    <p class="text-sm leading-5  text-purple-200 font-bold"> {{p.id}} </p>                    
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                    <p class="text-sm leading-5  text-purple-200 font-bold">{{p.username}}</p>                    
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200  leading-5 text-white">    
                    <p class="text-purple-200">{{p.first_name}}</p>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200  leading-5 text-gray-700">    
                    <p class="text-purple-200">{{p.last_name}}</p>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200  leading-5 text-gray-700">    
                    <p class="text-purple-200">{{p.is_staff}}</p>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5">
                    <a href="{% url 'editarUsuario' p.id %}" class="text-purple-200 hover:text-white mr-5">Editar</a>
                    <a href="#"  data-usuario="${id}" onclick="eliminarUsuario({{p.id}})" class="text-purple-200 hover:text-white eliminar">Eliminar</a>
                </td>
                <tbody id="listado-usuarios" class="bg-white"></tbody>
                {% endfor %}
            </table>
          </div>
        </div>
      </div>
</main>
  
<!-- -----------FIN CONTENIDO----------- --> 
{% endblock %}


<!-- ------------------------------------------------------------------- -->
<!-- FUNCION JAVASCRIPT PARA ELIMIENAR CON SWEET ALERT! -->
{% block js %} 
    <script>
        function eliminarUsuario(id) {
            Swal.fire({
                "title": "¿Estas seguro de eliminar este Usuario?",
                "text": "¡ATENCION! ¡Esta accion es irreversible!",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "¡Cancelar Acción!",
                "confirmButtonText": "¡Si, Estoy Seguro!",
                "reverseButton": true,
                "confirmButtonColor": "#dc3545"               
            })
            .then(function(result) {
                if(result.isConfirmed){
                    window.location.href = "/eliminarUsuario/" + id + "/"
                }
            })
        }
        
    </script>

{% endblock %}