{% extends 'base.html' %}


{% block title %} Index {% endblock %}

{% block header %}
<div class="container-text bg-gradient-to-tr from-purple-800 via-violet-900 to-purple-800">
    <h1 class="text-center py-3 text-purple-200 text-4xl font-bold">BIENVENIDO AL SISTEMA</h1>
    <h1 class="text-center py-1 text-purple-200 text-4xl font-bold">HOTEL DUERMEN BIEN</h1>
</div>
{% endblock %}

{% block content %}
<div class="mt-16">
    <div class="flex justify-center">
        <div class="flex flex-col md:flex-row md:max-w-xl rounded-lg shadow-lg bg-gradient-to-b from-purple-200 via-purple-400 to-purple-800">
          
          <!-- En este source se inserta el "Video" con la direccion url del bucket almacenado en la nube de AWS -->
          <video class="w-full h-96 md:h-auto object-cover md:w-48 rounded-t-lg md:rounded-none md:rounded-l-lg" 
          controls autoplay muted loop src="https://static-app-duermebien.s3.amazonaws.com/Videos/Playa+Cavancha.mp4"></video>
          <div class="p-6 flex flex-col justify-start">
            <h5 class="text-purple-900 text-xl font-medium mb-2">Estimado Usuario</h5>
            <p class="text-purple-800 text-base mb-10">
              Bienvenido al sistema de la prestigiosa cadena de hoteles de "Duerme Bien". 
              Para acceder debe poseer sus credenciales de acceso.
            </p>
            <a href="{% url 'login' %}"
                        class="text-center px-6 py-3 mb-10 text-purple-200 no-underline bg-gradient-to-r from-purple-800 via-violet-900 to-purple-800 rounded hover:bg-purple-600 hover:underline hover:text-purple-200">ACCEDER</a>
          </div>
        </div>
      </div>
      
</div>
{% endblock content %}

{% block footer %}
{% include 'componentes/footer.html'%}
{% endblock %}
